# Most suitable car between all cars

In [21]:
from find_best_car import (
    Column, 
    get_scored_df,
    _get_fixed_column_name,
)


df = get_scored_df(de_discount=False, feature_file_name="feature.csv")

/home/kirill/workspace/github/playground/auto/adac/best_car/find_best_car.py:353: DtypeWarning: Columns (238,239,240) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)
2023-03-19 12:51:56.980 | WARNING  | find_best_car:get_scored_df:415 - Duplicates:
        id                                                                                               name
0   325888                         Dacia Sandero Stepway TCe 100 ECO-G Expression (Autogasbetrieb) (ab 07/22)
1   325890                          Dacia Sandero Stepway TCe 100 ECO-G Expression (Benzinbetrieb) (ab 07/22)
2   322610                                                 Dacia Jogger TCe 110 Extreme (7-Sitzer) (ab 03/22)
3   325569                                            Renault Arkana Mild Hybrid 140 Equilibre EDC (ab 06/22)
4   317862                                                               Audi A3 Sportback 35 TFSI (ab 11/20)
5   321830                                                           Ford Fiesta ST 1.5 EcoBoost X (ab 03/22)
6   318876                                                   Hyundai Kona 1.6 GDI Hybrid Trend DCT (ab 01/21)
7   324865                                                       Renault Mégane TCe 140 GPF Techno (ab 04/22)
8   319820                           Ford Puma 1.0 EcoBoost Hybrid Titanium X PowerShift Automatik (ab 03/21)
9   319771                                                       Audi A3 Sportback 35 TDI advanced (ab 01/21)
10  320481                                                            Lynk & Co 01 1.5TD PHEV DCTH (ab 04/21)
11  324780                                     VinFast VF 8 Eco (87,7 kWh) AWD (zzgl. Battermiete) (ab 04/23)
12  327298                               Abarth 500e Cabrio (42 kWh) Scorpionissima Launch Edition (ab 04/23)
13  324897                                           BMW 116d Edition Colorvision Steptronic (DKG) (ab 07/22)
14  321101                               DS Automobiles DS 4 E-Tense 225 Cross Trocadero Automatik (ab 10/21)
15  313479                                                      Audi A5 Sportback 40 TFSI S tronic (ab 07/20)
16  313488                                                          Audi A5 Coupé 40 TFSI S tronic (ab 07/20)
17  325251                                                  BMW 220d Coupé M Sportpaket Steptronic (ab 07/22)
18  326765          Alfa Romeo Tonale 1.3 T Multiair Plug-in Hybrid Edizione Speciale Q4 Automatik (ab 06/23)
19  312689                                                               BMW 420i Coupé Steptronic (ab 10/20)
20  326672  MINI Clubman John Cooper Works Untold Edition inkl. Paket Premium Plus ALL4 Steptronic (ab 07/22)
21  316415                                                   Jaguar XE P250 R-Dynamic SE Automatik (ab 01/21)
22  312694                                                        BMW 420d Coupé xDrive Steptronic (ab 10/20)
/home/kirill/workspace/github/playground/auto/adac/best_car/find_best_car.py:523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter[scaled_col_name] = __apply_scaler_for_columns(
/home/kirill/workspace/github/playground/auto/adac/best_car/find_best_car.py:523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter[scaled_col_name] = __apply_scaler_for_columns(

In [22]:
my_cars = df[df[Column.NAME].str.contains('Subaru Impreza')]

top_car = my_cars.iloc[0]
top_car_euro_per_score = top_car[Column.EURO_PER_SCORE]
top_car_total_score = top_car[Column.TOTAL_SCORE]

# imprezas
top_car

name                                        Subaru Impreza 1.6i Exclusive Lineartronic (ab...
url                                         https://www.adac.de/rund-ums-fahrzeug/autokata...
id                                                                                     317063
processed date                                                     2023-03-09 12:05:55.237921
Marke                                                                                  Subaru
                                                                  ...
WLAN Hotspot|fixed|scaled|weighted                                                        0.0
Wärmepumpe|fixed|scaled|weighted                                                          0.0
Xenon-Scheinwerfer|fixed|scaled|weighted                                                  0.0
Total Score                                                                        498.727881
Euro per score                                                                      62.138094
Name: 309, Length: 486, dtype: object

### Better in score

In [23]:
FIXED_PRICE_COLUMN = _get_fixed_column_name(Column.PRICE)
VIEW_COLUMNS = [Column.NAME, FIXED_PRICE_COLUMN, Column.TOTAL_SCORE, Column.EURO_PER_SCORE]
VIEW_LIMIT = 10

df[df[Column.TOTAL_SCORE] > top_car_total_score][VIEW_COLUMNS].reset_index(drop=True).head(VIEW_LIMIT)

,name,Grundpreis|fixed,Total Score,Euro per score
0,Tesla Model 3 (ab 02/22),47560.0,559.510138,85.002928
1,Tesla Model 3 Maximale Reichweite AWD (ab 02/22),57560.0,555.886229,103.546368
2,"Hyundai IONIQ 6 (77,4 kWh) UNIQ-Paket 4WD (ab ...",64200.0,551.353616,116.440698
3,Tesla Model Y Maximum Range AWD (ab 09/21),57668.0,549.854342,104.878684
4,KIA Ceed Sportswagon 1.5 T-GDI Platinum DCT7 (...,36290.0,549.031309,66.098234
5,Tesla Model Y (ab 12/22),47568.0,549.016961,86.642132
6,"Hyundai IONIQ 6 (77,4 kWh) UNIQ-Paket 2WD (ab ...",60200.0,546.929699,110.068991
7,KIA Ceed 1.5 T-GDI Platinum DCT7 (ab 10/21),34790.0,546.783920,63.626597
8,Tesla Model 3 Performance AWD (ab 02/22),64560.0,546.141319,118.211162
9,"Hyundai IONIQ 5 (77,4 kWh) UNIQ-Paket 4WD (ab ...",64900.0,545.998725,118.864746

### Better in euro per score

In [24]:
df[df[Column.EURO_PER_SCORE] < top_car_euro_per_score][VIEW_COLUMNS].reset_index(drop=True).head(VIEW_LIMIT)

,name,Grundpreis|fixed,Total Score,Euro per score
0,KIA Ceed Sportswagon 1.5 T-GDI Spirit DCT7 (ab...,32390.0,531.797166,60.906680
1,Toyota Yaris Cross 1.5 Hybrid Elegant CVT (ab ...,32690.0,529.949403,61.685134
2,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 10/21),30990.0,529.411628,58.536682
3,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 10/21),31890.0,527.120105,60.498546
4,Honda Jazz 1.5 i-MMD Executive e-CVT (ab 07/20),27000.0,523.799957,51.546396
5,Honda Jazz 1.5 i-MMD Executive Style e-CVT (ab...,28600.0,521.540963,54.837495
6,Mazda 2 Hybrid Select CVT (ab 03/22),29190.0,516.602694,56.503770
7,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid 150 Sele...,31890.0,516.268500,61.770184
8,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Homura S...,30490.0,514.602919,59.249567
9,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Selectio...,30890.0,514.050325,60.091393

### Better in everything

In [25]:
d = df[(df[Column.TOTAL_SCORE] >= top_car_total_score) & (df[Column.EURO_PER_SCORE] <= top_car_euro_per_score)]
d[VIEW_COLUMNS].reset_index(drop=True).head(VIEW_LIMIT)

,name,Grundpreis|fixed,Total Score,Euro per score
0,KIA Ceed Sportswagon 1.5 T-GDI Spirit DCT7 (ab...,32390.0,531.797166,60.906680
1,Toyota Yaris Cross 1.5 Hybrid Elegant CVT (ab ...,32690.0,529.949403,61.685134
2,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 10/21),30990.0,529.411628,58.536682
3,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 10/21),31890.0,527.120105,60.498546
4,Honda Jazz 1.5 i-MMD Executive e-CVT (ab 07/20),27000.0,523.799957,51.546396
5,Honda Jazz 1.5 i-MMD Executive Style e-CVT (ab...,28600.0,521.540963,54.837495
6,Mazda 2 Hybrid Select CVT (ab 03/22),29190.0,516.602694,56.503770
7,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid 150 Sele...,31890.0,516.268500,61.770184
8,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Homura S...,30490.0,514.602919,59.249567
9,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Selectio...,30890.0,514.050325,60.091393

### Better in everything and cheaper

In [26]:
d = df[
    (df[Column.TOTAL_SCORE] >= top_car_total_score) & 
    (df[Column.EURO_PER_SCORE] <= top_car_euro_per_score) &
    (df[FIXED_PRICE_COLUMN] <= top_car[FIXED_PRICE_COLUMN])
]
d[VIEW_COLUMNS].reset_index(drop=True).head(VIEW_LIMIT)

,name,Grundpreis|fixed,Total Score,Euro per score
0,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 10/21),30990.0,529.411628,58.536682
1,Honda Jazz 1.5 i-MMD Executive e-CVT (ab 07/20),27000.0,523.799957,51.546396
2,Honda Jazz 1.5 i-MMD Executive Style e-CVT (ab...,28600.0,521.540963,54.837495
3,Mazda 2 Hybrid Select CVT (ab 03/22),29190.0,516.602694,56.503770
4,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Homura S...,30490.0,514.602919,59.249567
5,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Selectio...,30890.0,514.050325,60.091393
6,Mazda 3 e-SKYACTIV-G 2.0 M Hybrid 150 Selectio...,30690.0,512.893411,59.836994
7,Mazda 3 e-SKYACTIV-G 2.0 M Hybrid 150 Homura S...,30890.0,512.604047,60.260937
8,Mazda 3 e-SKYACTIV-G 2.0 M Hybrid Selection SK...,29690.0,511.436100,58.052218
9,Mazda 3 e-SKYACTIV-G 2.0 M Hybrid Homura SKYAC...,29890.0,511.144461,58.476619