In [1]:
from find_best_car import (
    _get_df_with_cost_to_own, 
    Column, 
    get_scored_df
)
import pandas as pd
from numpy import nan

import seaborn as sns

def coloraze(df, axis=1):
    cm = sns.light_palette("seagreen", as_cmap=True)
    return df.style.background_gradient(cmap=cm, axis=axis)

df = get_scored_df(only_mentioned_cars=False, spec_file="parents.xlsx")

/home/kirill/workspace/github/playground/auto/adac/best_car/find_best_car.py:392: DtypeWarning: Columns (231,232,233,234) have mixed types.Specify dtype option on import or set low_memory=False.
  df = _get_df_with_cost_to_own(

# Best cars by score

In [2]:
VIEW_COLUMNS = [Column.NAME, Column.TOTAL_PRICE, Column.TOTAL_SCORE, Column.EURO_PER_SCORE]
VIEW_LIMIT = 10

df[VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
5504,VW Tiguan 2.0 TDI SCR Elegance 4MOTION DSG (ab...,45945.00,251.753166,182.500188
6447,VW Tiguan Allspace 2.0 TDI SCR Elegance 4MOTIO...,50105.00,251.743166,199.032216
5502,VW Tiguan 2.0 TDI SCR URBAN SPORT 4MOTION DSG ...,44541.45,251.527155,177.084061
5508,VW Tiguan 2.0 TDI SCR URBAN SPORT 4MOTION DSG ...,46626.45,251.317155,185.528322
5509,VW Tiguan 2.0 TDI SCR Elegance 4MOTION DSG (ab...,48030.00,251.253166,191.161771
6449,VW Tiguan Allspace 2.0 TDI SCR Elegance 4MOTIO...,52190.00,251.213166,207.751850
5270,Hyundai Tucson 1.6 T-GDI Hybrid Prime Allrad A...,46010.00,250.482336,183.685608
6448,VW Tiguan Allspace 2.0 TDI SCR R-Line 4MOTION ...,51865.00,250.243166,207.258408
4274,VW Tiguan 2.0 TSI OPF URBAN SPORT 4MOTION DSG ...,43181.45,249.907155,172.789971
6443,VW Tiguan 2.0 TDI SCR R-Line 4MOTION DSG (ab 0...,48420.00,249.133166,194.353891

# Best cars by euro per score

In [3]:
df[VIEW_COLUMNS].sort_values([Column.EURO_PER_SCORE, Column.TOTAL_SCORE]).head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
0,Dacia Sandero SCe 65 Access (ab 01/21)*,9228.89,169.250000,54.528154
1,Dacia Sandero SCe 65 Essential (ab 01/21),9790.00,171.439677,57.104634
2,Dacia Sandero SCe 65 Comfort (ab 01/21),10440.00,182.197143,57.300569
3,Dacia Sandero TCe 90 Essential (ab 01/21),11290.00,174.269677,64.784650
38,Dacia Sandero TCe 90 Comfort (ab 01/21),12140.00,186.785647,64.994287
4,Dacia Sandero TCe 100 ECO-G Essential (Autogas...,11390.00,174.654677,65.214400
40,Dacia Sandero TCe 100 ECO-G Comfort (Autogasbe...,12240.00,187.170647,65.394869
5,Dacia Sandero TCe 100 ECO-G Essential (Benzinb...,11390.00,173.394677,65.688291
41,Dacia Sandero TCe 100 ECO-G Comfort (Benzinbet...,12240.00,185.910647,65.838080
7,Hyundai i10 1.0 Pure (ab 09/20)*,11799.09,174.090779,67.775502

In [4]:
best_grandland = df[df[Column.NAME].str.contains('Grandland X ')].iloc[0][VIEW_COLUMNS]
grandland_score = best_grandland[Column.TOTAL_SCORE]
grandland_euro_per_score = best_grandland[Column.EURO_PER_SCORE]
best_grandland

name              Opel Grandland X 1.2 DI Turbo Business Eleganc...
Total price                                                 34910.0
Total Score                                              213.026357
Euro per score                                           163.876435
Name: 2830, dtype: object

# Better than Grandland by points

In [5]:
d = df[df[Column.TOTAL_SCORE] >= grandland_score]
d[VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
5504,VW Tiguan 2.0 TDI SCR Elegance 4MOTION DSG (ab...,45945.00,251.753166,182.500188
6447,VW Tiguan Allspace 2.0 TDI SCR Elegance 4MOTIO...,50105.00,251.743166,199.032216
5502,VW Tiguan 2.0 TDI SCR URBAN SPORT 4MOTION DSG ...,44541.45,251.527155,177.084061
5508,VW Tiguan 2.0 TDI SCR URBAN SPORT 4MOTION DSG ...,46626.45,251.317155,185.528322
5509,VW Tiguan 2.0 TDI SCR Elegance 4MOTION DSG (ab...,48030.00,251.253166,191.161771
6449,VW Tiguan Allspace 2.0 TDI SCR Elegance 4MOTIO...,52190.00,251.213166,207.751850
5270,Hyundai Tucson 1.6 T-GDI Hybrid Prime Allrad A...,46010.00,250.482336,183.685608
6448,VW Tiguan Allspace 2.0 TDI SCR R-Line 4MOTION ...,51865.00,250.243166,207.258408
4274,VW Tiguan 2.0 TSI OPF URBAN SPORT 4MOTION DSG ...,43181.45,249.907155,172.789971
6443,VW Tiguan 2.0 TDI SCR R-Line 4MOTION DSG (ab 0...,48420.00,249.133166,194.353891

# Better than Grandland by points and euro per point

In [6]:
d = df[(df[Column.TOTAL_SCORE] >= grandland_score) & (df[Column.EURO_PER_SCORE] <= grandland_euro_per_score)]
d[VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
2802,Mazda CX-30 e-SKYACTIV-X 2.0 M Hybrid Selectio...,34090.00,247.560714,137.703594
2799,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid 150 Sele...,32590.00,247.390714,131.734936
1851,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid 150 Sele...,30090.00,246.164048,122.235559
2800,Mazda CX-30 e-SKYACTIV-X 2.0 M Hybrid Selectio...,32090.00,245.844048,130.529904
1846,Mazda CX-30 e-SKYACTIV-G 2.0 M Hybrid Selectio...,29590.00,245.714048,120.424535
4029,Hyundai Tucson 1.6 T-GDI Hybrid Trend Automati...,40060.00,245.532273,163.155741
4269,VW Tiguan 1.5 TSI OPF URBAN SPORT DSG (ab 07/21)*,39551.45,244.850488,161.533066
4026,Hyundai Tucson 1.6 T-GDI 48V-Mildhybrid N Line...,39510.00,244.142273,161.831868
3024,VW Tiguan 2.0 TDI SCR URBAN SPORT (ab 07/21)*,37946.45,243.700488,155.709372
4270,VW Tiguan 1.5 TSI OPF ACTIVE DSG (ab 01/21),39880.00,243.503166,163.776105